<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>
	
	<Appenders>
		<RollingFile name="file-log" fileName="${log-path}/semsim.log"
		filePattern="${log-path}/semsim-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d %5p [%c{1}] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5p [%c{1}] %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info" additivity="false">
			<appender-ref ref="console"/>
			<appender-ref ref="file-log"/>
		</Root>
	</Loggers>
</Configuration>